language: cpp

sudo: required
services:
  - docker

matrix:
    include:
        - compiler: clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq qt5-default qttools5-dev-tools

script:
  - qmake
  - make
